* {
    margin : 0px;
    padding : 0px;
    /* border : 1px solid red; */
}

:root {
    --bdr : 1px solid blue;
    --btext : rgb(101, 190, 219);
}

/* BG */
body {
    background-image : url('img/bg.jpg');
}

/* Navbar */
nav {
    border : var(--bdr);
    margin : 10px;
    border-radius: 10px;
}
nav > ul {
    display : flex;
    align-items : center;
    justify-content : space-around;
}
nav > ul > li {
    list-style : none;
    margin : 7px;
}
nav > ul > li > a {
    text-decoration : none;
    font-size : 1.5rem;
    color : var(--btext);
}

/* Welcome */
#welcome {
    display : flex;
    align-items : center;
    justify-content : space-around;
    flex-direction : column;
    color : var(--btext);
    text-align : center;
    border : var(--bdr);
    margin : 10px;
    border-radius: 10px;
    padding : 20px;
}
#welcome > img {
    width : 20%;
    border-radius : 100%;
}
#welcome > h1 {
    margin : 10px;
    font-size : 4rem;
}

/* Follow */
#follow {
    color : var(--btext);
    border : var(--bdr);
    margin : 10px;
    border-radius: 10px;
    padding : 20px;
    text-align : center;
}
#follow > h1{
    margin : 10px;
}
#follow > div{
    display : flex;
    align-items : center;
    justify-content : space-around;
}
#follow > div > img {
    width : 10%;
}

/* About */
#about {
    display : flex;
    justify-content : space-around;
}
#about > div {
    border : var(--bdr);
    border-radius: 10px;
    padding : 10px;
    margin : 10px;
    text-align : center;
    color : var(--btext);
}
#about > div > h1 {
    margin : 2px;
}
#about > div > p {
    font-size : 2rem;
}

/* Latest */
#latest {
    display : flex;
    align-items : center;
    justify-content : space-around;
    flex-direction : column;
    border : var(--bdr);
    border-radius: 10px;
    padding : 10px;
    margin : 10px;
    text-align : center;
    color : var(--btext);
}
#latest > h1{
    margin : 10px;
}
#latest > iframe {
    margin-top : 15px;
    border : var(--bdr);
    border-radius: 10px;
    width : 43%;
}

/* Gallery */
#gallery {
    display : flex;
    align-items : center;
    justify-content : space-around;
    flex-direction : column;
    border : var(--bdr);
    border-radius: 10px;
    padding : 10px;
    margin : 10px;
    text-align : center;
    color : var(--btext);
}
#gallery > h1 {
    margin : 10px;
}
#gallery > img {
    width : 30%;
    margin-top : 15px;
    border : var(--bdr);
    border-radius: 10px;
}

/* Join Us! */
#joinus {
    display : flex;
    align-items : center;
    justify-content : space-around;
    flex-direction : column;
    border : var(--bdr);
    border-radius: 10px;
    padding : 10px;
    margin : 10px;
    text-align : center;
    color : var(--btext);
}
#joinus > form{
    display : flex;
    align-items : center;
    justify-content : space-around;
    flex-direction : column;
    border : var(--bdr);
    border-radius: 10px;
    padding : 10px;
    margin : 10px;
    text-align : center;
    color : var(--btext);
    width : 70%;
    font-size : 1.5rem;
}
#joinus > form > input, #joinus > form > textarea {
    width : 70%;
    font-size : 1rem;
    margin-bottom : 3px;
}
#joinus > form > div {
    margin-bottom : 3px;
    margin-top : 3px;
    font-size : 1.5rem;
}
#joinnow {
    margin-top : 3px;
    margin-bottom : 3px;
    color : var(--btext);
    background-color : blue;
    border-radius : 10px;
    border : 1px solid black;
    padding : 5px;
}
#toggle {
    cursor : pointer;
    text-decoration : underline;
}
#add {
    display : none;
}

/* Utility Classes */
.gibhead {
    font-size : 3rem;
}
.gibpara {
    font-size : 2rem;
}