* {
    margin : 0px;
    padding : 0px;
    /* border : 1px solid red; */
}

/* BG */
body {
    background-image : url('img/bg.jpg');
}

/* Navbar */
nav {
    border : 1px solid blue;
    margin : 10px;
    border-radius: 10px;
}
nav > ul {
    display : flex;
    align-items : center;
    justify-content : space-around;
}
nav > ul > li {
    list-style : none;
    margin : 7px;
}
nav > ul > li > a {
    text-decoration : none;
    font-size : 1.5rem;
    color : rgb(101, 190, 219);
}

/* Welcome */
#welcome {
    display : flex;
    align-items : center;
    justify-content : space-around;
    flex-direction : column;
    color : rgb(101, 190, 219);
    border : 1px solid blue;
    margin : 10px;
    border-radius: 10px;
    padding : 20px;
}
#welcome > img {
    width : 20%;
    border-radius : 100%;
    margin : auto auto;
}
#welcome > h1 {
    margin : 10px;
    font-size : 4rem;
}
#welcome > p {
    text-align : center;
    font-size : 2rem;
}

/* Follow */
#follow {
    display : flex;
    align-items : center;
    justify-content : space-around;
    flex-direction : column;
    color : rgb(101, 190, 219);
    border : 1px solid blue;
    margin : 10px;
    border-radius: 10px;
    padding : 20px;
}

/* About */
#about {
    display : flex;
    align-items : center;
    justify-content : space-around;
}
#about > div {
    border : 1px solid blue;
    border-radius: 10px;
    padding : 10px;
    margin : 5px;
    text-align : center;
    color : rgb(101, 190, 219);
}
#about > div > h1 {
    font-size : 3rem;
    margin : 2px;
}
#about > div > p {
    font-size : 2rem;
}